@import "src/utils/variables.scss";

// *Begining style for Mobile
.Teachers {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	& li {
		//max-width: 600px;
		margin: 10px;
		//background-color: red;
	}
	& h2 {
		font-family: $secondary-font;
		font-size: $font-size-default;
		font-weight: $font-weight-semibold;
		margin-top: 10px;
		margin-bottom: 10px;

		text-transform: uppercase;
	}

	& h3 {
		margin-top: 10px;
		margin-bottom: 10px;

		font-family: $secondary-font;
		font-size: $font-size-medium;
		font-weight: $font-weight-default;
		text-transform: uppercase;
	}
	& p {
		font-size: rem(16);
	}
}
// *End style for Mobile

// *Begining style for Tablet
@media (min-width: $tabletWidth), (orientation: landscape) {
	//
	//
	//
	//
}
// *End style for Tablet

// *Begining style for Desktop
@media (min-width: $desktopWidth) {
	.Teachers li {
		display: flex;
		flex-grow: 1;

		& img {
			max-width: 200px;
			height: 200px;
		}

		& div {
			//width: 100%;
			//height: 100%;
		}
	} //
	//
	//
}
// *End style for Desktop
