@import "src/utils/variables.scss";

.ClassesPage {
	display: flex;
	flex-grow: 1;

	width: 80%;

	margin: 0 auto;
	//  height: 100vh;
	position: relative;

	flex-direction: column;

	align-items: center;
	justify-content: center;

	background-color: #e4e4;
}
