@import "../../../utils/variables.scss";

// *Begining style for Mobile
.Contact {
	display: flex;
	flex-direction: column;

	font-size: rem(24);

	margin-left: 16px;

	& li {
		cursor: pointer;
		margin-bottom: 8px;

		& a,
		p,
		svg {
			text-decoration: none;
			color: $text-color-default;
			&:hover {
				opacity: 0.5;
			}
		}

		&:last-child {
			display: flex;
			& svg {
				margin-top: 6px;
			}
		}
	}
	& svg {
		width: 16px;
		height: 16px;
		margin-right: 5px;
	}
}

// *End style for Mobile

// *Begining style for Tablet
@media (min-width: $tabletWidth), (orientation: landscape) {
	//
	//
	//
	//
}
// *End style for Tablet

// *Begining style for Desktop
@media (min-width: $desktopWidth) {
	.Contact {
		font-size: rem(16);
		margin: 10px 0;
		& li a,
		li p,
		li svg {
			color: $text-color-default-light;
		}
	}
}
// *End style for Desktop
