@import "src/styles/utils/variables.scss";

.StudioPage {
  display: flex;
  flex-grow: 1;

  width: 100%;
  height: 100vh;
  position: relative;

  flex-direction: column;

  align-items: center;
  justify-content: center;

  background-color: #a09000;
}
