@import "src/utils/variables.scss";
.Footer {
	display: flex;
	align-items: center;
	//justify-content: space-around;
	justify-content: space-between;
	width: 100%;
	background-color: $neutral-primary;

	padding: 0 3%;

	& svg {
		width: 130px;
	}
}
