@import "src/styles/utils/variables.scss";

.HomePage {
  display: flex;
  flex-grow: 1;

  width: 100%;
  position: relative;

  flex-direction: column;

  align-items: center;
  justify-content: center;

  // background-color: #aaaaaa;
}
