@import "src/utils/variables.scss";
.IconMail {
  position: absolute;
  bottom: -10px;
  left: 0;
  background: transparent;
  padding: 0;

  cursor: pointer;

  & svg {
    width: 36px;
    height: 36px;

    color: #a08a84;
  }
}
//*===========TABLET===================
@media screen and (min-width: $tabletWidth) and (orientation: landscape) {
  .IconMail {
    bottom: 20px;
    left: 100px;

    & svg {
      width: 60px;
      height: 60px;
    }
  }
}
//*==========DESKTOP==================
@media screen and (min-width: $desktopWidth) {
  .IconMail {
  }
}
