@import "src/utils/reset.scss";
@import "src/utils/variables.scss";
@import "src/utils/font.scss";

html {
	box-sizing: border-box;
	font-size: $font-size-default;
	height: 100%;

	@media screen and (min-width: $bigDesktopWidth) {
		font-size: 20px;
	}

	@media screen and (max-width: $bigDesktopWidth) {
		font-size: 18px;
	}

	@media screen and (max-width: 1480px) {
		font-size: 17px;
	}

	@media screen and (max-width: $desktopWidth) {
		font-size: 15px;
	}

	@media screen and (max-width: $smDesktopWidth) {
		font-size: 14px;
	}

	@media screen and (max-width: $tabletWidth) {
		font-size: 13px;
	}

	@media screen and (max-width: $phoneWidth) {
		font-size: 12px;
	}

	@media screen and (max-width: $smPhoneWidth) {
		font-size: 12px;
	}
}

body {
	max-width: $bigDesktopWidth;
	margin: 0 auto;
	font-family: $main-font, -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: $text-color-default;
}

h1 {
	font-family: $secondary-font, serif;
	font-size: $font-size-huge;
}

h2 {
	font-family: $secondary-font;
	font-size: $font-size-huge;
	font-weight: $font-weight-default;
}

h3 {
	font-size: $font-size-medium;
}

h4 {
}

p {
	font-size: $font-size-default;
	font-weight: $font-weight-light;
	color: $text-color-default-light;
	letter-spacing: 0.05em;
	&::first-letter {
		font-size: 130%;
	}
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
